.container {
    display: flex;
    min-height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 80px;
    width: 90%;
    margin: 0 auto;
    background-image: url("/assets/images/poemonwall.png");
    background-size: cover;
    background-image: no-repeat;

  }
  
  @media (min-width: 1100px) {
    .container {
      padding-left: 5px;
      padding-right: 500px;
      width: 100%;
    }
  }
  